<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xk.mapper.SlideMapper">
  <resultMap id="BaseResultMap" type="com.xk.model.Slide">
    <id column="slide_id" jdbcType="INTEGER" property="slideId" />
    <result column="slide_img_url" jdbcType="VARCHAR" property="slideImgUrl" />
    <result column="slide_desc" jdbcType="VARCHAR" property="slideDesc" />
    <result column="slide_reserve" jdbcType="VARCHAR" property="slideReserve" />
    <result column="slide_update_time" jdbcType="VARCHAR" property="slideUpdateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    slide_id, slide_img_url, slide_desc, slide_reserve, slide_update_time
  </sql>
  <select id="selectByExample" parameterType="com.xk.model.SlideExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from slide
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from slide
    where slide_id = #{slideId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from slide
    where slide_id = #{slideId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xk.model.SlideExample">
    delete from slide
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xk.model.Slide">
    insert into slide (slide_id, slide_img_url, slide_desc, 
      slide_reserve, slide_update_time)
    values (#{slideId,jdbcType=INTEGER}, #{slideImgUrl,jdbcType=VARCHAR}, #{slideDesc,jdbcType=VARCHAR}, 
      #{slideReserve,jdbcType=VARCHAR}, #{slideUpdateTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xk.model.Slide">
    insert into slide
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="slideId != null">
        slide_id,
      </if>
      <if test="slideImgUrl != null">
        slide_img_url,
      </if>
      <if test="slideDesc != null">
        slide_desc,
      </if>
      <if test="slideReserve != null">
        slide_reserve,
      </if>
      <if test="slideUpdateTime != null">
        slide_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="slideId != null">
        #{slideId,jdbcType=INTEGER},
      </if>
      <if test="slideImgUrl != null">
        #{slideImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="slideDesc != null">
        #{slideDesc,jdbcType=VARCHAR},
      </if>
      <if test="slideReserve != null">
        #{slideReserve,jdbcType=VARCHAR},
      </if>
      <if test="slideUpdateTime != null">
        #{slideUpdateTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xk.model.SlideExample" resultType="java.lang.Long">
    select count(*) from slide
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update slide
    <set>
      <if test="record.slideId != null">
        slide_id = #{record.slideId,jdbcType=INTEGER},
      </if>
      <if test="record.slideImgUrl != null">
        slide_img_url = #{record.slideImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.slideDesc != null">
        slide_desc = #{record.slideDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.slideReserve != null">
        slide_reserve = #{record.slideReserve,jdbcType=VARCHAR},
      </if>
      <if test="record.slideUpdateTime != null">
        slide_update_time = #{record.slideUpdateTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update slide
    set slide_id = #{record.slideId,jdbcType=INTEGER},
      slide_img_url = #{record.slideImgUrl,jdbcType=VARCHAR},
      slide_desc = #{record.slideDesc,jdbcType=VARCHAR},
      slide_reserve = #{record.slideReserve,jdbcType=VARCHAR},
      slide_update_time = #{record.slideUpdateTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xk.model.Slide">
    update slide
    <set>
      <if test="slideImgUrl != null">
        slide_img_url = #{slideImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="slideDesc != null">
        slide_desc = #{slideDesc,jdbcType=VARCHAR},
      </if>
      <if test="slideReserve != null">
        slide_reserve = #{slideReserve,jdbcType=VARCHAR},
      </if>
      <if test="slideUpdateTime != null">
        slide_update_time = #{slideUpdateTime,jdbcType=VARCHAR},
      </if>
    </set>
    where slide_id = #{slideId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xk.model.Slide">
    update slide
    set slide_img_url = #{slideImgUrl,jdbcType=VARCHAR},
      slide_desc = #{slideDesc,jdbcType=VARCHAR},
      slide_reserve = #{slideReserve,jdbcType=VARCHAR},
      slide_update_time = #{slideUpdateTime,jdbcType=VARCHAR}
    where slide_id = #{slideId,jdbcType=INTEGER}
  </update>
</mapper>